* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F3F5FC;
}

.logo {
    border: 2px solid black;
    border-radius: 50%;
    width: 1.5vw;
    text-align: center;
    margin: 1.5vh 0 0 1.5vw;
}

.main-container {
    display: flex;
    width: 100%;
    height: 742px;
    box-sizing: border-box;
    padding: 2vh 0 0 2vw;
}

.main-container img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    flex-shrink: 0;
}

.text-org {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.5vh 1.5vw;
}

.text-org p {
    margin-bottom: 1vh;
    width: 100%;
    font-size: 2.5vw;
    color: #0A3871;
    box-sizing: border-box;
}

.text-org textarea {
    width: 100%;
    height: calc(100% - 5vh - 2px);
    padding: 2vh 2vw;
    font-size: 30px;
    border-radius: 32px;
    border: 1px solid #FFFFFF;
    resize: none;
    box-shadow: 0px 3px 3px gray;
    box-sizing: border-box;
    margin: 0;
    font-size: large;
} 

.text-org .button-container {
    margin: 3vh 0;
    text-align: center;
    width: 100%;
}

.text-org .button-container .encrypt-btn {
    background-color: #0A3871;
    width: 48%;
    height: 71%;
    border-radius: 24px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.6s;
}

.encrypt-btn:hover {
    background-color: #092d58;
    cursor: pointer;
}

.text-org .button-container .desencrypt-btn {
    background-color: #D8DFE8;
    width: 48%;
    height: 71%;
    border-radius: 24px;
    font-size: 16px;
    color: #0A3871;
    border-color: #0A3871;
    border: 1px solid #0A3871;
    transition: 
        background-color 0.6s,
        color 0.4s;
}

.desencrypt-btn:hover {
    background-color: #9fa4a9;
    color: #ffffff;
    cursor: pointer;
}

.text-org .button-container .footer-text {
    margin: 1.5vh 0;
}

.text-org .button-container .footer-text p {
    padding: 1.5vh 0;
    text-align: center;
    font-size: 13px;
    color: #495057;
}

.text-org .button-container .footer-text img {
    border: none;
    width: 16px;
    height: 16px;
    margin: 0;
}

.text-new {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.5vh 1.5vw;
}

.text-new p {
    margin-bottom: 1vh;
    width: 100%;
    font-size: 2.4vw;
    color: #0A3871;
    box-sizing: border-box;
}

.text-new .text-encrypt-container {
    width: 100%;
    height: calc(100% - 5vh - 2px);
    padding: 2vh 2vw;
    border-radius: 32px;
    border: 1px solid #FFFFFF;
    resize: none;
    box-shadow: 0px 3px 3px gray;
    box-sizing: border-box;
    text-align: center;
    background-color: #FFFFFF;
}


.text-new .text-encrypt-container .text-encrypt {
    margin: 30vh 0 0;
    box-sizing: border-box;
}

.text-new .text-encrypt-container .text-encrypt p {
    font-size: 2vw;
    color: #343A40;
    border: none;
    box-sizing: border-box;
}

.text-new .text-encrypt-container .text-encrypt .footer-text-encrypt {
    font-size: 1vw;
    color: #343A40;
    border: none;
    box-sizing: border-box;
}

.text-new .copy-button-container {
    margin: 3vh 0;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 16%;
}

.text-new .copy-button-container .copy-btn {
    background-color: #F3F5FC;
    height: 100%;
    width: 48%;
    border-radius: 24px;
    font-size: 16px;
    color: #CACACA;
    border-color: #CACACA;
    border: 1px solid #CACACA;
    transition: 
        background-color 0.3s ease,
        color 0.3s ease;
    text-align: center;
    box-sizing: border-box;
}

.copy-btn:hover {
    cursor: not-allowed;
}

.text-new .text-encrypt-container img {
    width: 10vw;
    height: 15vh;
    margin: 15vh 0 0 25vw;
    box-sizing: border-box;
    border: none;
}

.data-show {
    width: 100%;
    background-color: #0A3871;
    padding: 0 0 1em 0;
}

#autor-name {
    font-size: 16px;
    color: #ffffff;
    padding: 10px 0 0 0 ;
    margin: 10px 0 10px 10px;
}

.social-media-container {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

#first-social-media {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}

.social-media-link {
    text-decoration: none;
    color: #FFFFFF;
    margin: 5px 0 0 10px;
}

.social-media {
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
}

.img-social-media {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border-radius: 7px;
}


/*Para dispositivos con pantallas de 780 pixeles*/
@media screen and (max-width:780px){
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }

    .text-org {
        width: 95%;
        height: 180%;
    }

    .text-org .text-org-header {
        display: none;
    }

    .text-org textarea {
        height: 100%;
    }

    .text-new {
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1.5vh 1.5vw;
    }

    .text-new .header-text-new {
        display: none;
    }


    .text-new .text-encrypt-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 35%;
        padding: 2vh 2vw;
        border-radius: 24px;
        border: 1px solid #FFFFFF;
        resize: none;
        box-shadow: 0px 3px 3px gray;
        box-sizing: border-box;
        text-align: center;
        background-color: #FFFFFF;
        font-size: large;
    }

    .text-new .text-encrypt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .text-new .text-encrypt-container img {
        display: none;
    }

    .text-new .text-encrypt-container .text-encrypt {
        margin: 2vh 0 0;
        box-sizing: border-box;
    }

    .text-new .text-encrypt-container .text-encrypt p {
        font-size: 2.3vw;
        color: #343A40;
        border: none;
        box-sizing: border-box;
    }

    .text-new .copy-button-container {
        display: none;
    }
    
    
}